.sample-text {
    color: #535353 !important;
}



.bg {
    background-color: var(--secondary-color) !important;
    text-align: center !important;

    .row {
        padding: 40px !important;
    }
}



.filterform {
    background-color: rgba(20, 20, 20, 0.2);
}

.bg1 {
    background-image: linear-gradient(to right, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url(./images/hero.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    .row {
        padding: 15% 20px !important;
        text-align: center;
    }
}



.section {
    .column {
        flex: 1 !important;
        margin: auto !important;
        hr {
            /* height: 2px !important; */
            border: 1px solid var(--primary-color);
            background-color: var(--primary-color) !important;
            margin: 10px 0 !important;
        }

    }
    .right {
        background-image: url(./images/media\ 1.jpg);
        background-position: center !important;
background-repeat: no-repeat !important;
background-size: cover !important;
margin-left: 40px !important;
div {
    height: 400px !important;
}
    }

    .left{
        background-image: url(./images/media\ 1.jpg);
        background-position: center !important;
background-repeat: no-repeat !important;
background-size: cover !important;
margin-right: 40px !important;
div {
    height: 400px!important;
}
    }
    
}

.newsection {
    z-index: 2 !important;
    .column {
            flex: 1 !important;
            background-color: var(--secondary-color);
            padding: 20px !important;
            border-radius: 10px;
            text-align: center;
            margin-top: -50px !important;
            
            h3 {
                color: var(--fourth-color) !important;
            }
        i {
            color: var(--fourth-color);
            font-size: 50px !important;
        }
    }

    .c1 {
        background-color: var(--third-color);
    }

    .row {
        padding: 0 20px !important;
        gap: 10px !important;
    }
}

.newone {
    background-color: rgba(20, 20, 20, 0.2);
}

.products {
    gap: 15px;
    div {
        flex: 1 !important;
        h4 {
            margin-top: 15px !important;
        }
        img {
            width: 100%;
        }
    }
}

.usp {
    text-align: center !important;
    background-color: rgba(20, 20, 20, 0.1);

    .section {
        padding: 30px 20px !important;
        border-radius: 5px !important;
        cursor: pointer !important;
        flex: 1 !important;

        h3, p {
            color: var(--fourth-color) !important;
        }

        i {
            font-size: 30px !important;
            margin-bottom: 10px !important;
        }

        img {
            width: 75px;
        }
    }

    .section1 {
        background-color: var(--secondary-color);
    }

    .section1:hover {
        background-color: var(--third-color) !important;
    }

    .section2 {
        background-color: var(--third-color);
    }

    .section2:hover {
        background-color: var(--secondary-color) !important;
        color: var(--fourth-color) !important;
    }
}

.bg2 {
    background-image: linear-gradient(to right, rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(./images/hero.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;

    .row {
        padding: 10% 20px !important;
        text-align: center;
        width: 50% !important;

        h3 {
            color: var(--fourth-color) !important;
            margin: 10px !important;
        }
    }
}

.contact {
    .column {
        flex: 1 !important;
    }

    .right {
        margin-left: 40px !important;
    }
}



/*Header starts here*/





.product {
    .column {
        flex: 1 !important;
    }

    img {
        width: 100%;
    }

    .content {
        background-color: transparent !important;
        margin-left: 40px !important;
    }
}

.content {
    background-color: rgba(20, 20, 20, 0.1) !important;

    .column {
        flex: 1 !important;
        background-color: rgba(180, 103, 222, 0.2) !important;
        padding: 30px !important;
        border-radius: 10px !important;
    }
}

/*Header ends here*/


@media only screen and (max-width: 1024px) {
    

    

    

    

    .newsection {
        .column {
            margin: 5px 0 !important;
        }
    }

    .section {
        .column {
            margin: 0 !important;
        }
    }

    .bg2 {
        .row {
            width: 100% !important;
        }
    }

    .bg {
        .row {
            padding: 20px !important;
        }
    }

    .uspsections .sections {
        margin-top: 10px !important;;
    }

    .usp .sections {
        margin-top: 10px !important;;
    }

    .assitent {.right {
        width: 100% !important;
    }}

    .cta {.column {width: 100% !important;}}

    .product {
        .content {
            margin-left: 0 !important;
        }
    }

    .slider {
        height: 50vh !important;
        text-align: center;
    }

}
