@import url(./style.css);

header {
    background-color: var(--third-color);
    position: sticky !important;
    top: 0;
    border-bottom: 1px solid var(--fourth-color);

    .head {
        background-color: transparent;
        width: 1200px;
        margin: auto !important;
        padding: 15px 20px !important;
        border: 0;

        .column {
            margin: auto 0 !important;
        }

        img {
            width: 150px;
        }
    }

    #off,
    #on {
        display: none;
    }

    .right {
        border: 1px solid var(--fourth-color);
        display: flex;
        border-radius: 50px;
        width: 5%;
        margin: auto !important;
        
        p {
            margin: auto !important;
            color: var(--fourth-color);
            margin-top: 6px !important;
            font-size: 17px;
        }
        
        i {
            color: var(--primary-color) !important;
            background-color: var(--fourth-color);
            font-size: 25px;
            padding: 10px !important;
            border-radius: 100%;
            text-align: right !important;
        }
    }

    ul {
        list-style-type: none !important;
        display: flex !important;
        gap: 10px !important;
        justify-content: right;
    }

    ul li {
        padding: 2px 10px !important;
        color: var(--fourth-color) !important;
        cursor: pointer;
    }

    a {
        font-size: 14px !important;
        color: var(--fourth-color) !important;
    }
    
    ul li:hover,
    ul li.active {
        text-decoration: underline !important;
        color: var(--fourth-color) !important;
    }

    #airlinesnav, #amtraknav, #travelnav {
        position: absolute;
        background-color: var(--secondary-color);
        right: 0;
        top: 55px;
        padding: 5px 15px 15px 15px !important;
        width: fit-content;
        ul {
            flex-direction: column;
        }

        #close, #close1, #close2 {
            color: var(--fourth-color);
            text-align: right !important;
            font-size: 20px;
            margin-right: -10px !important;
        }
    }

    #airlinesnav {
        left: 42%;
        display: none;
    }
    
    #amtraknav {
        display: none;
        left: 51%;
    }

    #travelnav {
        display: none;
        left: 57%;
    }
}


.bg1 {
    background-color: var(--third-color);

    .fa-right-left {
        margin-right: -15px !important;
        margin-left: -15px !important;
        font-size: 15px;
        z-index: 1;
        background-color: var(--primary-color);
        border-radius: 50px;
        padding: 10px !important;
        color: var(--fourth-color);
        width: fit-content;
        height: fit-content;
    }

    .arrowicon {
        justify-content: end !important;
        text-align: right;
        padding-top: 12px !important;
        z-index: 1;
    }

    h1 {
        color: var(--fourth-color) !important;
        font-size: 32px !important;
    }

    form {
        background-color: var(--fourth-color);
        border-radius: 10px;
        padding: 20px !important;
        margin-top: 20px !important;
        box-shadow: 0 5px 5px rgba(20, 20, 20, 0.2);
        margin-bottom: -50px !important;

        button {
            width: 100% !important;
            margin: 7px 0 !important;
        }

        .column {
            flex: 1 !important;
        }
    }

    .row {
        padding: 20px !important;
    }
}

form {
    .pass {
        margin: auto 0 auto auto !important;
        gap: 10px !important;
    }

    .radio {
        display: flex !important;

        input {
            width: 15px !important;
        }

        label {
            margin-left: 20px !important;
            margin-top: 0 !important;
        }
    }

    ::placeholder {
        font-size: 17px;
        color: #7a7a7a;
        padding-left: 10px !important;
    }

    input,
    select,
    textarea {
        width: 100% !important;
        padding: 15px 10px !important;
        margin: 5px 0 !important;
        border: 1px solid var(--fifth-color) !important;
        border-radius: 5px !important;
    }

    label {
        flex: 1 !important;
        font-family: var(--secondary-font) !important;
        font-size: 16px !important;
        margin-top: 10px !important;
        text-align: left !important;
    }

    button {
        width: 100% !important;
    }

    div {
        gap: 5px !important;
    }

    .dropdown-container {
        position: relative;
        display: inline-block;
        width: 100% !important;
    }

    .dropdown-input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    .dropdown-content {
        padding: 10px !important;
        border-radius: 10px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: 1px solid #ddd;
    }

    .dropdown-content .dropdown-group {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .dropdown-content .dropdown-group:last-child {
        border-bottom: none;
    }

    .dropdown-content label {
        margin-right: 10px;
    }

    .qty {
        cursor: pointer;
        width: 30px;
        text-align: center;
    }

    .qtyminus,
    .qtyplus {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        font-size: 18px;
    }

    .dropdown-content input[type="text"] {
        width: 50px;
        text-align: center;
    }
}

.ctasection {
    .row {
        padding-bottom: 40px !important;
    }

    .column {
        padding: 20px !important;
        border: 1px solid #979797;
        border-radius: 10px;

        .col {
            flex: 1;

            div {
                flex: 1;
                text-align: center;
            }

            .center {
                border-right: 1px solid #141414;
                border-left: 1px solid #141414;
            }
        }
    }

    a {
        color: var(--primary-color) !important;
    }

    a:hover {
        border-bottom: 1px dashed var(--sixth-color);
        color: var(--sixth-color) !important;
    }
}

.bg2 {
    .row {
        padding: 0 20px 0 20px !important;
    }

    .column {
        flex: 1 !important;
    }

    .innerrow {
        .column {
            flex: 1 !important;
            padding: 20px !important;
            box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.3);
            border-radius: 10px;
            margin-top: 20px !important;

            .right {
                text-align: right;
            }

            a {
                color: var(--primary-color) !important;
            }

            div {
                flex: 1;
            }

            .center {
                background-image: linear-gradient(to right, green, var(--sixth-color), var(--sixth-color), red);
                height: 10px;
                border-radius: 10px;
                margin: 20px 0 5px 0 !important;
            }

            .flex {
                h3 {
                    font-size: 25px !important;
                }

                img {
                    width: 50px;
                    height: auto !important;
                }
            }
        }
    }
}

.calendar, .calendar1 {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../images/calendar.png);
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    padding-left: 20px !important;
}



.user {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../images/user.png);
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    padding-left: 25px !important;
}

.location, .location1 {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../images/location.png);
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    padding-left: 17px !important;
}

.calendar.typing, .location.typing, .user.typing, .calendar1.typing, .location1.typing {
    background-image: none !important;
}

.faq {
    /* background-color: rgba(20, 20, 20, 0.1); */

    .gap2 {
        gap: 30px;
    }

    .column {
        flex: 1 !important;
    }

    a {
        text-decoration: underline !important;
    }

    .icon {
        text-align: right !important;
        flex: 1;
        font-size: 20px;
    }

    .main {
        border-bottom: 1px solid var(--fifth-color);
        padding: 0 0 20px 0 !important;
        margin-bottom: 20px !important;

        h4 {
            color: var(--fifth-color) !important;
        }
    }

    #faqoff,
    #faqoff1,
    #faqoff2,
    #faqoff3,
    #faqoff4,
    #faqoff5,
    #faqoff6,
    #faqoff7,
    #faqoff8,
    #faqoff9,
    #faq1,
    #faq2,
    #faq3,
    #faq4,
    #faq5,
    #faq6,
    #faq7,
    #faq8,
    #faq9,
    #faq10 {
        display: none;
    }
}

.bg3 {
    .row {
        border-radius: 20px;
        background-color: rgb(0, 68, 153, 0.2);
        padding: 0 20px 20px 0 !important;
    }

    .right,
    .left {
        margin-left: 20px !important;
    }

    .column {
        margin-top: -60px !important;
        flex: 1;
        background-color: var(--fourth-color);
        border-radius: 10px;
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.3);

        div {
            padding: 20px !important;
        }

        img {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }
    }
}

.uspsection {
    .column {
        margin: auto !important;
        flex: 1;

        i {
            margin: auto 0 !important;
            padding: 10px !important;
            background-color: rgb(0, 68, 153, 0.2);
            border-radius: 50px;
            font-size: 25px;
        }

        div {
            margin-left: 15px !important;
        }
    }

    .col4 {
        padding: 10px 20px !important;
        box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.3);
        border-radius: 10px;
        cursor: pointer;
    }
}

.mainslider {
    .row {
        padding-top: 0 !important;
    }

    .firstslider {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .slidebutton {
        display: flex;
        margin-bottom: 135px !important;

        i {
            font-size: 30px;
            color: var(--primary-color);
            cursor: pointer;
        }

        .rightBt {
            height: 100% !important;
            z-index: 1 !important;
            text-align: right !important;
            align-items: end !important;
            margin-top: 137px !important;
            margin-right: -20px !important;
            /* box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.3); */
            background-color: var(--fourth-color);
            border-radius: 50px;
        }

        .leftBt {
            z-index: 1 !important;
            margin-top: 137px !important;
            margin-left: -20px !important;
            /* box-shadow: 0 0 2px 2px rgba(20, 20, 20, 0.3); */
            background-color: var(--fourth-color);
            border-radius: 50px;
        }
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease;
        gap: 15px;
    }

    .slider1 {
        position: relative;

        .slide1 {
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            min-width: 217.5px;
            height: 300px;
            padding: 240px 20px 20px 20px !important;
            border-radius: 15px;

            p {
                color: #fff !important;
                font-size: 20px !important;
                font-weight: 700;
            }
        }
    }
}

.bg {
    background-color: var(--primary-color);
    text-align: center;

    .row {
        padding: 40px 20px !important;
    }

    h2,
    p {
        max-width: 50%;
        margin: 0 auto !important;
        color: var(--fourth-color) !important;
    }
}

footer {
    background-color: var(--third-color) !important;

    .mainfooter {
        width: 1200px;
        padding: 40px 20px 0 20px !important;
        margin: auto !important;

        h3,
        p {
            color: var(--fourth-color) !important;
        }

        .social {
            justify-content: end;

            i {
                background-color: var(--fourth-color);
                color: var(--secondary-color);
                padding: 10px !important;
                border-radius: 50px;
            }

            i:hover {
                background-color: var(--primary-color);
                color: var(--fourth-color);
            }
        }

        .links {
            border-top: 1px solid var(--fourth-color);
            border-bottom: 1px solid var(--fourth-color);
            padding: 20px 0 !important;
            margin-top: 20px !important;

            a::before {
                content: "\f105";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                margin-right: 8px;
            }
        }

        .column {
            flex: 1 !important;

            b {
                font-size: 18px;
            }

            a {
                color: var(--fourth-color) !important;
                text-decoration: none !important;
            }

            a:hover {
                text-decoration: underline dashed !important;
            }
        }

        img {
            width: 200px !important;
        }
    }

    .foot {
        width: 1200px;
        padding: 20px !important;
        margin: auto !important;
        color: var(--fourth-color) !important;
    }
}