@import url('https://fonts.googleapis.com/css2?family=Montserrat');

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica-neue-5/HelveticaNeueMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.container {
    width: 100% !important;
    max-width: 100% !important;
}

:root {
    --primary-color: #0068EF !important;
    --secondary-color: #004499 !important;
    --third-color: #001834 !important;
    --fourth-color: #ffffff !important;
    --fifth-color: #161616 !important;
    --sixth-color: #FFB600 !important;
    /*fonts*/
    --primary-font: 'Helvetica Neue' !important;
    --secondary-font: Montserrat !important;
}

.row {
    width: 1200px !important;
    margin: auto !important;
    padding: 100px 20px !important;
}

.column {
    flex: auto !important;
}

.d-flex {
    display: flex !important;
}

.flex {
    display: flex;
}

p,
li,
a {
    font-family: var(--secondary-font) !important;
    line-height: 2 !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font) !important;
    line-height: 1.35 !important;
    margin: 0 !important;
    padding: 0 !important;
    color: var(--fifth-color) !important;
}

h1 {
    font-size: 35px !important;
    font-weight: 400 !important;
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeInLeft 3s forwards;
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

h2 {
    padding: 15px 0 !important;
    font-size: 33px !important;
    font-weight: 500 !important;
}

h3 {
    font-size: 25px !important;
    font-weight: 700 !important;
}

h4 {
    font-size: 20px !important;
    font-weight: 400 !important;
}

a {
    color: var(--fifth-color) !important;
    text-decoration: underline !important;
}

button {
    font-family: var(--secondary-font) !important;
    line-height: 2 !important;
    font-size: 17px !important;
    font-weight: 700 !important;
    margin: 10px 0 !important;
    padding: 0 !important;
    padding: 5px 15px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    color: var(--fourth-color) !important;
    background-color: var(--primary-color) !important;
    border: none !important;
}

button:hover {
    background-color: var(--secondary-color) !important;
    color: var(--fourth-color) !important;
}

.gap {
    gap: 40px !important;
}

.gap1 {
    gap: 15px !important;
}

ul#ui-id-2 {
    background-color: #fff !important;
    padding: 5px !important;
}

ul#ui-id-1 {
    background-color: #fff !important;
    padding: 5px !important;
}

@media only screen and (max-width: 1024px) {
    .row {
        width: 100% !important;
        padding: 40px 20px !important;
        margin: auto !important;
    }

    h1 {
        font-size: 25px !important;
    }

    h2 {
        font-size: 26px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    .d-flex {
        flex-direction: column !important;
    }

    .gap {
        gap: 0 !important;
    }

    button {
        font-size: 16px !important;
    }

    header {
        .head {
            width: 100% !important;

            .right {
                text-align: center !important;
                margin: 0 auto !important;
                width: 38%;

                p {
                    font-size: 12px !important;
                }

                i {
                    font-size: 15px !important;
                }
            }

            button {
                margin: 0 !important;
            }

            img {
                width: 113px !important;
                height: auto !important;
            }

            .nav {
                background-color: var(--fourth-color) !important;
                display: none;
                position: absolute;
                box-shadow: 0px 2px 2px rgba(20, 20, 20, 0.5);
                padding: 20px !important;
                top: 0;
                right: 0;
                width: 60%;
                height: 100vh;
                background-color: var(--third-color);
                overflow-y: auto;

                #on i {
                    color: var(--fourth-color) !important;
                }

                ul {
                    text-align: left !important;
                    flex-direction: column !important;
                }

                i,
                li,
                a {
                    color: var(--third-color) !important;
                }
            }

            .icon {
                color: var(--fourth-color);
            }

            .ico {
                display: inline-block !important;
            }
        }

        .newnav {
            display: block !important;
            margin-top: 20px !important;
            padding-top: 20px !important;
            border-top: 2px solid var(--primary-color);
        }

        #off,
        #on {
            display: block !important;
            text-align: right !important;
            font-size: 20px !important;
            color: var(--fourth-color);
        }

        .navlogo {
            display: block !important;
            text-align: center;
            margin-top: 30px !important;
            background-color: var(--primary-color);
            border-radius: 10px;
            padding: 15px 5px !important;

            h4,
            i {
                color: var(--fourth-color) !important;
                font-size: 17px !important;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }

    form {

        input,
        select,
        textarea {
            padding: 15px 10px !important;
        }

        .dropdown-container {
            margin-top: -12px !important;
            margin-bottom: -3px !important;
        }
    }

    footer {
        .foot {
            width: 100% !important;
            margin-bottom: 100px !important;
        }

        .mainfooter {
            width: 100% !important;
            padding: 20px !important;
            margin: auto !important;

            .column {
                margin-bottom: 15px !important;
            }

            .social {
                text-align: left !important;
                justify-content: start !important;
            }
        }
    }

    .bg {

        h2,
        p {
            max-width: 100% !important;
        }
    }

    .bg2 {
        h4 {
            font-size: 17px !important;
        }
    }

    .bg3 {

        .right,
        .left {
            padding-top: 85px !important;
        }

        .hideshow {
            display: none;
        }

        .hideshow1 {
            display: block !important;
        }

        .row {
            background-color: transparent !important;
        }
    }

    .faq {
        .gap2 {
            gap: 0 !important;
        }
    }

    .ctasection {
        .row {
            padding-top: 80px !important;
        }

        img {
            width: 40% !important;
        }

        .column {
            .col {
                text-align: center !important;

                .center {
                    border-right: 0 !important;
                    border-left: 0 !important;
                    border-top: 1px solid #141414 !important;
                    border-bottom: 1px solid #141414 !important;
                    padding: 10px 0 !important;
                    margin: 10px 0 !important;
                }
            }
        }
    }

    .location {
        margin-top: 20px !important;
    }

    .bg1 {
        .arrowicon {
            margin: -35px 0 -20px 0 !important;
            padding-right: 17px !important;
        }

        button {
            width: 100% !important;
        }
    }

    .mobilecta {
        display: flex !important;
        gap: 10px;
    }

    .uspsection {
        .column {
            padding: 0 20px !important;
        }
    }

    .bookingpopup {
        .center {
            width: 100% !important;

            .images {
                width: 40% !important;
            }
        }

        p {
            font-size: 14px !important;
        }

        h4 {
            margin-top: 10px !important;
        }
    }
}