@import url('https://fonts.googleapis.com/css2?family=Open Sans');
@import url('https://fonts.googleapis.com/css2?family=Laila');
@import url('https://fonts.googleapis.com/css2?family=Marcellus');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../helvetica-neue-5/HelveticaNeueMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.container {
    width: 100% !important;
    max-width: 100% !important;
}

:root {
    --primary-color: #0068EF !important;
    --secondary-color: #004499 !important;
    --third-color: #575757 !important;
    --fourth-color: #ffffff !important;
    --fifth-color: #161616 !important;
    --sixth-color: #FFB600 !important;
    /*fonts*/
    --primary-font: 'Helvetica Neue' !important;
    --secondary-font: Montserrat !important;
}

.row {
    width: 1200px !important;
    margin: auto !important;
    padding: 100px 20px !important;
}

.column {
    flex: auto !important;
}

.d-flex {
    display: flex !important;
}

.flex {
    display: flex;
}

p,
li,
a {
    font-family: var(--secondary-font) !important;
    line-height: 2 !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font) !important;
    line-height: 1.35 !important;
    margin: 0 !important;
    padding: 0 !important;
    color: var(--fifth-color) !important;
}

h1 {
    font-size: 50px !important;
    font-weight: 400 !important;
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeInLeft 3s forwards;
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

h2 {
    padding: 15px 0 !important;
    font-size: 33px !important;
    font-weight: 700 !important;
}

h3 {
    font-size: 25px !important;
    font-weight: 700 !important;
}

h4 {
    font-size: 18px !important;
    font-weight: 400 !important;
}

a {
    color: var(--fifth-color) !important;
    text-decoration: underline !important;
}

button {
    font-family: var(--secondary-font) !important;
    line-height: 2 !important;
    font-size: 17px !important;
    font-weight: 700 !important;
    margin: 10px 0 !important;
    padding: 0 !important;
    padding: 5px 15px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    color: var(--fourth-color) !important;
    background-color: var(--primary-color) !important;
    border: none !important;
}

button:hover {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}

.gap {
    gap: 40px !important;
}

.gap1 {
    gap: 15px !important;
}

ul#ui-id-2 {
    background-color: #fff !important;
    padding: 5px !important;
}

ul#ui-id-1 {
    background-color: #fff !important;
    padding: 5px !important;
}

@media only screen and (max-width: 1024px) {
    .row {
        width: 100% !important;
        padding: 40px 20px !important;
        margin: auto !important;
    }

    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 30px !important;
    }

    .d-flex {
        flex-direction: column !important;
    }

    .gap {
        gap: 0 !important;
    }

    button {
        font-size: 16px !important;
    }

    header {
        .head {
            width: 100% !important;

            .right {
                text-align: center !important;
                margin: 0 auto !important;
                width: 100%;
                p {
                    font-size: 10px !important;
                    margin-top: 10px !important;
                }
            }

            button {
                margin: 0 !important;
            }

            img {
                width: 150px !important;
                height: auto !important;
            }

            .nav {
                z-index: 1 !important;
                display: none;
                position: absolute;
                background-color: var(--fourth-color);
                box-shadow: 0px 2px 2px rgba(20, 20, 20, 0.5);
                padding: 30px 20px !important;
                top: 0;
                right: 0;
                width: 50%;
                height: 100vh;
                background-color: var(--secondary-color);

                i, #on i {
                    color: var(--fourth-color) !important;
                }

                ul {
                    text-align: left !important;
                    flex-direction: column !important;
                }
            }

            .icon {
                color: var(--fourth-color);
            }
        }
    }

    #off,
    #on {
        display: block !important;
        text-align: right !important;
        font-size: 20px !important;
        color: var(--fourth-color);
    }

    form {
        input,
        select,
        textarea {
            padding: 15px 10px !important;
        }
    }

    .slide1 {
        min-width: 40% !important;
    }

    footer {
        .foot {
            width: 100% !important;
        }

        .mainfooter {
            width: 100% !important;
            padding: 20px !important;
            margin: auto !important;

            .column {
                margin-bottom: 15px !important;
            }

            .social {
                text-align: left !important;
                justify-content: start !important;
            }
        }
    }

    .bg {    
        h2,
        p {
            max-width: 100% !important;
        }
    }

    .bg3 {
        padding: 60px 20px 0 20px !important;

        .right, .left {
            padding-top: 85px !important;
        }
    }

    .faq {    
        .gap2 {
            gap: 0 !important;
        }
    }

    .ctasection {
        .row {
            padding-top: 80px !important;
        }

        img {
            width: 40% !important;
        }
    
        .column {    
            .col {
                text-align: center !important;
    
                .center {
                    border-right: 0 !important;
                    border-left: 0 !important;
                    border-top: 1px solid #141414 !important;
                    border-bottom: 1px solid #141414 !important;
                    padding: 10px 0 !important;
                    margin: 10px 0 !important;
                }
            }
        }
    }
}