

sectionn {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}



#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}


        .navbar1 {
            padding: 0px 7px;
            background: #fff0 !important;
            border-color: #e7e7e7;
            min-height: 10px;
            margin-bottom: 0px;
        }

        .navbar1-btn {
            box-shadow: none;
            outline: none !important;
            border: none;
            margin-top: 0px;
            margin-bottom: 0px;
        }



        #sidebar {
            width: 300px;
            position: fixed;
            top: 0;
            left: -300px;
            height: 100vh;
            z-index: 999;
            background: #ffffff;
            color: #fff;
            transition: all 0.3s;
            overflow-y: scroll;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        }

            #sidebar.active {
                left: 0;
            }

        #dismiss {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            position: absolute;
            top: 35px;
            right: 25px;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            color: #034053;
            border-radius: 100%;
        }

            #dismiss:hover {
                background: #fff;
                color: #7386D5;
            }

        .overlay {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.7);
            z-index: 998;
            display: none;
        }

        #sidebar .sidebar-header {
            padding: 30px 15px 30px 15px;
            background: #ffffff;
            border-bottom: 2px solid #000000;
        }

        #sidebar nav ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

        #sidebar nav ul p {
            color: #fff;
            padding: 10px;
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1.7em;
        }

        #sidebar nav ul li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
            border-bottom: 1px solid #065973;
        }

            #sidebar nav ul li a:hover {
                color: #7386D5;
                background: #fff;
            }

        #sidebar nav ul li.active > a, a[aria-expanded="true"] {
            color: #fff;
            background: #6d7fcc;
        }


        a[data-toggle="collapse"] {
            position: relative;
        }

        a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
            content: '\e259';
            display: block;
            position: absolute;
            right: 20px;
            font-family: 'Glyphicons Halflings';
            font-size: 0.6em;
        }

        a[aria-expanded="true"]::before {
            content: '\e260';
        }


        @media screen and (max-width: 600px) {

            .dis-visible {
                display: block;
            }

            #sidebar ul {
                display: block !important;
            }

                #sidebar ul li a {
                    display: block;
                    padding: 15px 15px;
                    font-size: 16px;
                    color: #fff;
                    border-bottom: 2px solid #d0d0d0;
                    width: 100%;
                }

                    #sidebar ul li a:hover {
                        color: #fff !important;
                        background-color: #d10459;
                    }

            .header nav ul {
                display: none !important;
            }

            .trustpilot-widget {
                display: none;
            }
        }

        @media (min-width: 601px) and (max-width: 1280px) {
            /* Media Query for Laptops and Desktops */

            .dis-hide {
                display: none;
            }

            .header nav ul {
                display: flex;
            }
        }


        @media (min-width: 1281px) {
            /* Media Query for Large screens */

            .dis-hide {
                display: none;
            }

            .header nav ul {
                display: flex;
            }
        }

        .icon-class {
            position: absolute;
            left: 140px;
            top: 30px;
        }

            .icon-class img {
                width: 21px;
            }


.ft-fm-2 {
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
}

.bgcolor-gray {
  background-color: #f5f5f5;
}



.m-t-120 {
  margin-top: 70px;
}

.section-common-space {
  padding: 0px 0;
}

.section-header {
  margin-bottom: 60px;
}

.section-title {
  color: #1c1c1c;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.section-title span {
  position: relative;
}
.section-title span:before {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #1c1c1c;
}

.ft-wt-bold {
  font-weight: 700;
}

.section-subtitle {
  font-size: 17px;
  color: #666666;
}



@media only screen and (max-width: 992px) {
  .clear-problem > div:nth-child(3n+1) {
    clear: none;
  }
}
@media only screen and (max-width: 768px) {
 
  .section-title {
    margin-bottom: 20px;
  }
  .section-title span:before {
    bottom: -10px;
  }
}

.whyus {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;	
	
}


.wus {
    border-top: none;
    border-radius: 0;
}
.wus p{
 font-size: 14px !important;
}


.us {
    border-bottom: none;
    border-radius: 0;
}



.p-0 {
    padding: 0!important;
}

.d-lg-none {
        display: none !important;
    }

.fixed-bottom {
    bottom: 0;
}
.fixed-bottom, .fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.call-bg a {
    background: #ec942d;
    display: block;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: 1s;
    z-index: 1000000000000000000;
}
.call-bg h4, .call-bg p {
    margin-bottom: 0;
    color: #fff;
    font-size: 22px;	
}
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: .6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}
@keyframes blinker{0%{opacity:1}to{opacity:0}}

@media (max-width: 767px) {
	
	
    .fixed-bottom {
        z-index: 100000000 !important;
    }
.d-block {
    display: block !important;
}	
	
	
}

.air_spacial_phone_view {
    display: none;
}

.mt-5 {
    margin-top: 3rem !important;
}
.p-2 {
    padding: .5rem !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}
.p-1 {
    padding: .25rem !important;
}

.banner-bg {
    background-size: cover !important;
    background-position: 100% !important;
    height: 450px;
}
.searh-engain {
    padding-bottom: 100px;
    position: relative;
    z-index: 1000;
    top: 0;
}
.marg-top {
    margin-top: 70px !important;
}
.searh-engain h1, .searh-engain p {
    color: #fff;
    text-align: left;
    margin-bottom: 15px !important;
}
.searh-engain h1 {
    font-size: 32px;
    line-height: 40px;
    text-shadow: -3px 0 1px rgba(55, 55, 55, .64);
}
.searh-engain p {
    font-size: 20px;
    line-height: 30px;
}
.contactno {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px;
    color: #fff;
    font-size: 27px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    text-shadow: 0 5px 5px #000;
}
.banner-contactnav {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 15px 30px 18px;
    margin: auto;
    background:#d10459;
    box-shadow: 0 5px 5px #00000050;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    border-radius: 50px;
    text-shadow: 0 3px 3px #00000050;
}
.banner-contactnav a:focus, a:hover {
    color: #ffffff;
}

.searh-engain .tab-content {
    background: #fff;
    color: #000;
    padding: 30px;
    border-radius: 0px;	
}

.searh-engain .tab-content .fade {
    transition: opacity .15s linear;
	opacity: 1;
}

.searh-engain .tab-content .mb-3 {
    margin-bottom: 1rem !important;
}


.searh-engain .tab-content .form-check {
    display: inline-block;
    padding-left: 20px;
    min-height: 1.5rem;
    margin-bottom: .125rem;
}
.searh-engain .tab-content .form-check-inline {
    display: inline-block !important;
    margin-right: 1rem;	
}

.searh-engain .tab-content.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e);
}

.searh-engain .tab-content .form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.searh-engain .tab-content .form-check-input[type=radio] {
    border-radius: 50%;
}

.searh-engain .tab-content .form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
border: 1px solid #333;	
}

.searh-engain .tab-content .form-check-input:checked {
    background-color: #ed942d;
    border-color: #ed942d;
    outline: none;
}

.searh-engain .tab-content .form-check-input {
    --bs-form-check-bg: #fff;
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-form-check-bg);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}

.searh-engain label {
    font-size: 12px;
    color: #6e6c6c;
    font-weight: 500;
    text-transform: uppercase;
	font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";	
}

.searh-engain .tab-content .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.searh-engain .tab-content .form-control {
border: 1px solid #6e6d6b;
    font-weight: 500;
    color: #333;
    background: #fff;
    outline: none;
    padding: 10px 30px;
    border-radius: 3px !important;
    height: 46px;
    font-size: 16px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::placeholder{
	    color: #505050 !important;
}


.searh-engain .tab-content .icon3 {
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 3px;
}

.searh-engain .tab-content .icon3 img {
    width: 21px;
}

.searh-engain .tab-content .btn-primary {
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    background: #d10459;
    color: #fff;
    outline: none;
    float: left;
    height: 51px;
    margin-top: 20px;
    border: none;
}

@media (max-width: 767px) {
	
	.banner-bg {
        height: auto !important;
    }
    .searh-engain {
        padding-top: 10px !important;
        padding-bottom: 20px !important;
        top: auto;
    }
    .marg-top {
        margin-top: 0 !important;
    }	
    .searh-engain h1 {
        font-size: 22px !important;
        line-height: 30px;
    }
    .banner-contactnav {
        font-size: 25px;
    }	
	
}

@media screen and (max-width: 991px) {
    .container {
        width: 100%;
    }
}





.explore-main {
	font-family: Poppins,sans-serif !important;
	
}
.explore-main h2 {
    font-weight: 700;
    color: #d10459;
    font-size: 30px;
    text-transform: uppercase;
	font-family: Poppins,sans-serif !important;
}
.hotel span {
    background-color: #fbf8f3;
    padding: 10px 20px;
    width: 100%;
    float: left;
}
.hotel h2 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 30px;
    margin: 0;
    text-transform: capitalize;
	font-family: Poppins,sans-serif !important;
}
.hotel h2 span {
    color: #d10459;
    float: revert;
    font-size: 14px;
    font-weight: 300;
    margin-left: 6px;
    padding: 0;
	font-family: Poppins,sans-serif !important;	
}
.hotelbg p {
    margin: 0;
}



@media only screen and (max-width: 600px) {


.hdng h2 {
    font-size: 20px !important;
    text-align: center !important;
    font-weight: 600 !important;
}

.digitxt{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

}

@media (max-width: 767px) {

    .mob_section {
        margin-top: 30px;
    }
    .air_spacial_phone_view {
        display: block !important;
    }
    .air_spacial_main {
        width: 100%;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }
	.air_logo_area {
        padding: 8px 0;
        text-align: center;
    }
	.air_logo_area img {
        width: 55% !important;
    }
    .air_logo_area h5 {
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        color: #333;
        margin: 24px 0 14px;
        text-transform: uppercase;
    }	
    .air_logo_area h6 {
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        color: #ed942d;
        margin: 0;
    }
    .air_spacial_middle {
        text-align: center;
        margin: 13px 0 27px;
        position: relative;
    }
	.air_spacial_middle h6 {
        font-size: 28px;
        font-weight: 600;
        line-height: 37px;
        margin: 0;
        color: #2461ae;
    }
    .air_spacial_middle2 {
        text-align: center;
        margin: 13px 0 0;
        position: relative;
    }
	.air_spacial_middle2 p {
        font-size: 19px;
        font-weight: 600;
        color: #333;
        line-height: 28px;
        margin: 0;
    }
.air_spacial_middle2 h4 {
        font-size: 22px;
        font-weight: 600;
        margin: 15px 0;
        color: #2461ae;
    }
    .air_spacial_middle2 h6 {
        margin: 0 0 27px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
    }
.air_spacial_fix_bottom {
        z-index: 9;
        bottom: 0;
        left: 0;
        background: #2461ae;
        width: 100%;
        text-align: center;
        position: relative;
    }
.air_spacial_fix_bottom h4 {
        margin: 0;
        text-align: center;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: .3px;
        padding: 12px 0;
        border: 3px solid #ed942d;
    }	

}


.title-bg {
    background:#d10459;
    padding: 2rem 0;
}
.text-center {
    text-align: center !important;
}
.title-bg h2, .title-bg ul {
    text-align: left;
}
.title-bg h2 {
    font-size: 20px;
    color: #fff;
}
.title-bg ul li {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0 3px !important;
	line-height: 1.9;
    font-family: Montserrat, sans-serif;	
}

.title-bg ul li a {
    color: #000;
}
.title-bg ul .active, .title-bg ul li a:hover {
    color: #fff;
}

@media (max-width: 767px) {
	
    .title-bg {
        padding: 2rem 1rem;
    }
    .abotut ul {
        list-style: disc;
        padding: 0 15px;
    }
	
}

.inner-page h2 {
    font-size: 26px;
    color: #ed942d;
}

.inner-page .cont-left {
    background: #fff;

    padding: 40px;
}

.inner-page .cont-left h5 {
    color: #000;
font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.pt-5 {
    padding-top: 3rem !important;
}
.inner-page .mt-3 {
    margin-top: 1rem !important;
}

.inner-page .form-control {
	display: block;
    width: 100%;
    padding: 0.375rem .75rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d3d3d3;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 38px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cont-right {
    background: #0a4772;
    padding-top: 40px;
    padding-bottom: 20px;
}

.cont-right ul li {
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    padding: 20px !important;
    border-bottom: 1px solid #ccc;
}
.inner-page ul li {
    margin-left: 0 !important;
}

li {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 400;
    color: #060606;
}

.inner-page .cont-right ul li {
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    padding: 20px !important;
    border-bottom: 1px solid #ccc;
}
.inner-page .cont-icon {
    float: left;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 22px;
}

.inner-page .cont-text {
    float: left;
    padding-left: 15px;
    padding-top: 5px;
}

.inner-page .cont-text h6 {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 15px;	
}

.inner-page .cont-text p {
    color: #fff;
    line-height: 24px;
    font-family: Poppins, sans-serif;	
}

.inner-page .cont-text p a {
    color: #fff;
}

.abotut h1 {
    font-size: 28px;
    color: #141414;
	margin-bottom: 10px !important;
	margin-top: 10px !important;	
}

.abotut h2 {
    font-size: 26px;
    color: #141414;
	margin-bottom: 10px !important;
	margin-top: 10px !important;	
}

.abotut h3 {
    font-size: 24px;
    color: #141414;
	margin-bottom: 10px !important;
	margin-top: 10px !important;	
}

.abotut h4 {
    font-size: 22px;
    color: #141414;
	margin-bottom: 10px !important;
	margin-top: 10px !important;	
}

.abotut h5 {
    font-size: 20px;
    color: #141414;
	margin-bottom: 10px !important;
	margin-top: 10px !important;	
}

.abotut h6 {
    font-size: 18px;
    color: #141414;
	margin-bottom: 10px !important;
	margin-top: 10px !important;	
}

.abotut ul {
    list-style: disc;

}

.abotut ul li {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    line-height: 2;
    font-weight: 400;
    color: #060606;
}