<header class="header">
    <div class="container-fluid">
        <div class="logo">
            <a href="/" id="lnkCompanyLogo">
                <img id="logo_fob_main" src="/iimg/logoo.png" alt="logo">
            </a>
        </div>
        <div class="right-header">
            <nav>
                <ul>
                    <li><a href="/"><i class="fa-solid fa-home" aria-hidden="true"></i> Home</a></li>
                    <li><a href="/about"><i class="fa-solid fa-suitcase font_icon"></i> About Us</a></li>
                    <li><a href="/privacy-policy"><i class="fa-solid fa-shield-halved font_icon"></i> Privacy Policy</a></li>
                    <li><a href="/contact"><i class="fa-solid fa-address-book font_icon"></i> Contact Us</a></li>
                </ul>
            </nav>

            <div class="number">
                <h2>
                    <a class="call-phone-number" href="tel:+1-888-583-3462 "> +1-888-583-3462 </a>
                </h2>
            </div>

            <!--Sidebar Menu code-->
            <nav id="sidebar" class="dis-hide dis-visible">
                <div class="sidebar-header">
                    <div id="dismiss">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <div class="logo-menu-mob">
                        <a href="#" class="">
                            <img src="/iimg/logoo.png" alt="logo">
                        </a>
                    </div>
                </div>

                <ul class="list-unstyled components">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>

            <div class="currency-exchange dis-hide dis-visible">

                <nav class="navbar1 navbar-default">
                    <div class="navbar-header navbar-right">
                        <button type="button" id="sidebarCollapse" class="btn navbar1-btn">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </nav>

                <!--Sidebar Menu code-->
            </div>

        </div>
    </div>

</header>

