footer {
    background-color: var(--primary-color) !important;

    .foot {
        width: 1200px !important;
        padding: 20px !important;
        margin: auto !important;
        text-align: center !important;
        color: var(--fourth-color) !important;
    }

    a {
        color: var(--fourth-color) !important;
        text-decoration: none !important;
    }
}

/*Header starts here*/

header {
    .head {
        width: 1200px !important;
        margin: auto !important;
        padding: 15px 20px !important;

        .column {
            margin: auto !important;
        }

        img {
            height: 65px !important;
        }

        a {
            line-height: 0 !important;
            font-size: 0 !important;
            text-decoration: none !important;
        }

    }

    .right {
        text-align: right !important;
    }

    ul {
        text-align: center !important;
        margin: auto !important;
        list-style-type: none !important;
        display: flex !important;
        gap: 20px !important;

        li {
            font-size: 16px !important;
            font-weight: 700 !important;
            padding: 2px 12px !important;
            border-radius: 5px !important;
        }

        li:hover {
            background-color: var(--secondary-color) !important;
            color: var(--fourth-color) !important;
        }
    }

    .nav {
        margin: auto !important;
    }
}

@media only screen and (max-width: 1024px) {
    header {
        .head {
            width: 100% !important;
            text-align: center !important;

            .right {
                text-align: center !important;
                margin: 0 auto !important;
                padding-top: 10px !important;
            }

            img {
                width: 130px !important;
                height: auto !important;
            }
        }
    }

    footer {
        .foot {
            width: 100% !important;;

            p {
                font-size: 15px !important;;
            }
        }
    }
}