/* Global CSS Starts Here*/
@import url('https://fonts.googleapis.com/css2?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.container {
    width: 100% !important;
    max-width: 100% !important;
}

:root {
    --primary-color: #6251e5 !important;
    --secondary-color: #B467DE !important;
    --third-color: #696969 !important;
    --fourth-color: #ffffff !important;
    --fifth-color: #141414 !important;
    /*fonts*/
    --primary-font: Rubik !important;
    --secondary-font: Roboto !important;
}

.row {
    width: 1200px !important;
    margin: auto !important;
    padding: 6% 20px !important;
}

.column {
    flex: auto !important;
}

.d-flex {
    display: flex !important;
}

.flex {
    display: flex !important;
}

p,
li,
a {
    font-family: var(--secondary-font) !important;
    line-height: 2 !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    color: var(--fifth-color) !important;
    text-decoration: underline !important;
}

button {
    font-family: var(--secondary-font) !important;
    line-height: 2 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    margin: 0 !important;
    padding: 0 !important;
    padding: 5px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    color: var(--fourth-color) !important;
    background-color: var(--primary-color) !important;
    border: none !important;
}

button:hover {
    background-color: var(--secondary-color) !important;
}

.gap {
    gap: 30px !important;
}

footer {
    background-color: var(--primary-color) !important;

    .foot {
        width: 1200px !important;
        padding: 20px !important;
        margin: auto !important;
        text-align: center !important;
        color: var(--fourth-color) !important;
    }

    a {
        color: var(--fourth-color) !important;
        text-decoration: none !important;
    }
}

header {
    .head {
        width: 1200px !important;
        margin: auto !important;
        padding: 15px 20px !important;

        .column {
            margin: auto !important;
        }

        img {
            height: 65px !important;
        }

        a {
            line-height: 0 !important;
            font-size: 0 !important;
            text-decoration: none !important;
        }

        .main {
            .icon {
                display: none;
            }
        }

    }

    .right {
        text-align: right !important;
    }

    ul {
        text-align: center !important;
        margin: auto !important;
        list-style-type: none !important;
        display: flex !important;
        gap: 20px !important;

        li {
            font-size: 16px !important;
            font-weight: 700 !important;
            padding: 2px 12px !important;
            border-radius: 5px !important;
        }

        li:hover {
            background-color: var(--secondary-color) !important;
            color: var(--fourth-color) !important;
        }
    }

    .nav {
        margin: auto !important;
    }
}

.bg1 {
    background-image: linear-gradient(to right,  rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url(./images/hero.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    .column {
        margin: auto !important;
        width: 50% !important;
        background-color: rgba(0, 33, 127, 0.5) !important;
        padding: 30px !important;
        text-align: center !important;
        border: 2px dashed var(--fourth-color) !important;
        border-radius: 10px !important;
    }

    button {
        font-size: 23px !important;
        margin: 20px 0 !important;
    }

    i {
        font-size: 50px !important;
        color: var(--fourth-color) !important;
        margin: 20px 0 !important;
    }
    .row {
        padding: 200px 20px 100px 20px !important;
        text-align: center !important;
    }
}

h3 {
    font-family: var(--primary-font) !important;
    line-height: 1.5 !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    margin: 0 !important;
    padding: 0 !important;
    color: var(--fourth-color) !important;
}

@media only screen and (max-width: 1024px) {
    .row {
        width: 100% !important;
        padding: 40px 20px !important;
        margin: auto !important;
    }
    header {
        .head {
            width: 100% !important;
            text-align: center !important;

            .right {
                text-align: center !important;
                margin: 0 auto !important;
                padding-top: 10px !important;
            }

            img {
                width: 130px !important;
                height: auto !important;
            }

            .main {
                .icon {
                    display: block !important;
                    text-align: right !important;
                    font-size: 20px;
                }
            }

            .nav {
                display: none;
                position: absolute;
                background-color: var(--fourth-color);
                box-shadow: 0px 2px 2px rgba(20, 20, 20, 0.5);
                padding: 30px 20px !important;
                top: 0;
                right: 0;
                width: 40%;
                height: 100vh;
                ul {
                    margin-top: 30px !important;
                    text-align: left !important;
                    flex-direction: column !important;
                }
            }
        }
    }

    footer {
        .foot {
            width: 100% !important;;

            p {
                font-size: 15px !important;;
            }
        }
    }

    .d-flex {
        flex-direction: column;
    }

    .gap {
        gap: 0;
    }

    .bg1 {
        .column {
            width: 100%;
        }
    }
}