
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid title-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2><em>About Us</em></h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>/</li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="whyus abotut">
    <div class="container">
        <br>
        <div class="row wus">
            <div class="col-lg-12 col-md-12">
                <h2>Welcome to Planeflybooking.com</h2>
                <p class="mb-5">Explore the ease and affordability of travel with Planeflybooking.com (Parent Company - Wing Star Travels LLC), your trusted partner for booking flights to your dream destinations. Whether you're planning a serene vacation, a romantic getaway, or an adventurous family trip, Planeflybooking.com offers budget-friendly tickets that cater to all your travel needs. Our user-friendly search technology simplifies the flight booking process, providing you with cost-effective options to popular destinations across the US and around the world.</p>
                <p class="mb-5">Picture yourself on a family adventure to Disney World, a romantic escape to a tropical paradise, or an exciting exploration of historic landmarks across the US. With Planeflybooking.com, your travel aspirations are just a few clicks away.</p>
                <p class="mb-5">Venture beyond borders with our affordable flight options to Asia, Africa, and the Middle East. No matter where your wanderlust leads you, Planeflybooking.com is here to assist with all your travel booking needs and more. Don't miss out on our special holiday deals, including exclusive discounts for Black Friday and Cyber Monday, designed to turn your travel dreams into reality.</p>
                <p class="mb-5">Embark on your next journey with confidence and ease, knowing that Planeflybooking.com is committed to making your travel experience seamless and enjoyable.</p>

            </div>

        </div>
    </div>
</div>

