
@{
    ViewBag.Title = "privacypolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container-fluid title-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2><em>Privacy Policy</em></h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>/</li>
                        <li class="active">Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="whyus abotut">
    <div class="container">
        <br>
        <div class="row wus">
            <div class="col-lg-12 col-md-12">

                <h1>Privacy Policy: -</h1>

                <p class="mb-5">Planeflybooking.com values your trust and is committed to transparently communicating how we collect, use, and disclose your information. The following Privacy Policy outlines our practices regarding information collected when you visit our website, use our mobile applications, or utilize our booking services. </p>
                <p class="mb-5">By accessing our website, using our app, or availing of our services, you agree to the terms and conditions of this Privacy Policy and our Terms & Conditions. </p>

                <h2>PERSONAL INFORMATION</h2>

                <p class="mb-5">Personal Information Collected by Planeflybooking.com: Includes details such as name, address, phone number, email, credit/debit card information, social media accounts, passport number, and any additional information provided during bookings (e.g., dietary preferences or health concerns), along with departure and destination details. </p>

                <h2>How Planeflybooking.com Collects Personal Information: </h2>

                <ul>
                    <li>Through our Services: When subscribing, making bookings, or using our services.</li>
                    <li>Offline: Through customer care interactions.</li>
                    <li>From Social Media: Accessing information via social media platforms and third parties.</li>
                </ul>

                <h3><b>How Planeflybooking.com Uses Your Personal Information:</b></h3>

                <ul>
                    <li>Completing bookings and fulfilling services.</li>
                    <li>Responding to inquiries and providing customer service.</li>
                    <li>Sending administrative and promotional communications.</li>
                    <li>Delivering personalized experiences and offers.</li>
                    <li>Business purposes, including data analysis and fraud prevention.</li>
                    <li>As necessary under applicable laws.</li>
                </ul>

                <h3><b>How Personal Information Might Get Disclosed: </b></h3>

                <ul>
                    <li>Service providers, subject to their own privacy policies.</li>
                    <li>Parent company, subsidiaries, and joint ventures.</li>
                    <li>Travel-related suppliers and partners.</li>
                    <li>Third-party service providers for various services.</li>
                    <li>As necessary under U.S. laws and legal processes.</li>
                </ul>
                <h2>OTHER INFORMATION</h2>

                <h3><b>Other Information Planeflybooking.com May Collect: </b></h3>
                <p class="mb-5">Includes non-personally identifying data such as browser/device information, app usage, cookie data, pixel tags, IP addresses, physical location, and aggregated information. </p>

                <h2>Third-Party Services: </h2>
                <p class="mb-5">Practices of third parties linked to our services are not addressed by this policy.</p>

                <h2>Third-Party Advertisers: </h2>
                <p class="mb-5">We utilize third-party advertising companies. Users can manage preferences through provided links. </p>

                <h2>SECURITY</h2>
                <p class="mb-5">Reasonable organizational, technical, and administrative measures are implemented to protect Personal Information; however, no system is 100% secure. </p>

                <h2>CHOICES AND ACCESS</h2>

                <p class="mb-5">Customers can opt-out of marketing communications by contacting us. Operational messages related to bookings will still be received. </p>

                <h2>RETENTION PERIOD</h2>

                <p class="mb-5">Personal Information is retained as long as necessary for the purposes outlined, with longer retention permitted by law. </p>

                <p class="mb-5">For any concerns or security issues, please contact us at info@Planeflybooking.com. </p>



            </div>

        </div>
    </div>
</div>

