
@{
    ViewBag.Title = "refundpolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container-fluid title-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2><em>Refund Policy</em></h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>/</li>
                        <li class="active">Refund Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="whyus abotut">
    <div class="container">
        <br>
        <div class="row wus">
            <div class="col-lg-12 col-md-12">

                <h1>Refund Policy</h1>
                <p class="mb-5">Please note that all prices are quoted in United States Dollars (USD). Prices may vary depending on availability and can increase during holidays. All prices are subject to confirmation upon payment and are subject to change without prior notice. </p>
                <p class="mb-5">Your booking initiates the reservation process. Cancellation fees apply once your booking is confirmed. If we are unable to confirm your order for any reason, we will provide a full refund of your transaction with no additional costs. </p>
                <p class="mb-5">We advise every customer to thoroughly review the cancellation policy. Hotel and tour schedules are planned well in advance, and no refunds will be issued for failure to appear on the day of departure. </p>
                <p class="mb-5">Each reservation is subject to specific cancellation costs as outlined, particularly for tours with separate rates or fees detailed in the Special Notes. </p>
                <p class="mb-5">No refunds will be issued for any unused portion of the tour after its commencement, regardless of circumstances. </p>
                <p class="mb-5">Airfare is non-refundable for tours that include airfare. </p>
                <p class="mb-5">Hotel extensions are non-refundable once confirmed. </p>
                <p class="mb-5">Changes to the tour departure date may not be possible if departure is within 30 days. </p>
                <p class="mb-5">All cancellations must be made directly through www.Planeflybooking.com. </p>
                <p class="mb-5">Some tours may require a minimum number of participants to proceed. In such cases, customers may opt for a full refund or choose an equivalent tour product. Such situations are rare, as we strive to meet our customers' travel needs. </p>
                <h2>Modification Fees:</h2>
                <p class="mb-5">Any changes (date, departure location, tour, etc.) made to the reservation after receiving a confirmation email are subject to an amendment fee of $50 per change. </p>
                <p class="mb-5">Amendment fees apply to all reservations, unless specific terms, fees, and conditions are stated in the Special Notes of the booked tour. Cancellation costs apply to any reservation with a departure date within 90 days. </p>
                <p class="mb-5">Adding an additional passenger to a confirmed reservation will incur only the fare difference for the additional passenger. Once a passenger is added, the reservation cannot be modified or canceled without incurring cancellation fees. Standard cancellation policies apply to the cancellation of a customer's reservation. </p>
                <p class="mb-5">Travel schedules can change, and you may be eligible for a refund for your booked airfare or other related services, such as baggage or seat fees. This website provides valuable information to help determine refund eligibility for air tickets or services associated with scheduled flights. </p>
                <h2>Am I Entitled to A Refund? </h2>
                <p class="mb-5">In the following cases, travelers are entitled to a refund of the fare and/or associated costs: </p>
                <ol>
                    <li><p class="mb-5"><b>Cancelled Flight: </b> Passengers are entitled to a refund if the carrier cancels the flight for any reason and the passenger chooses not to travel.</p></li>
                    <li><p class="mb-5"><b>Limitation of Liability: </b> This limitation of liability covers all types of damages, including compensatory, direct, indirect, special, or consequential damages; loss of data, income, or profit; loss of or damage to property; personal injury; and claims from third parties. If any warranties implied by law cannot be excluded, our liability for breach of such warranties is limited, at our discretion, to:</p></li>
                </ol>
                <ul>
                    <li><p class="mb-5">For products: replacement or provision of equivalent products; or payment of the cost of replacement or acquisition of equivalent products.</p></li>
                    <li><p class="mb-5">For services: provision of services again; or payment of the cost of having the services supplied again.</p></li>
                </ul>
                <ul>
                    <li><p class="mb-5"><b>Schedule Adjustment/Major Delay</b>: Travelers are entitled to a refund if the airline significantly changes the flight schedule and/or substantially delays the flight, and the passenger decides not to travel. The Department of Transportation (DOT) determines refund eligibility on a case-by-case basis for extended delays.</p></li>
                    <li><p class="mb-5"><b>Class of Service Change: </b> Passengers are entitled to a refund if involuntarily downgraded to a lower class of service. For example, if a passenger purchases a first-class ticket but is reassigned to economy due to an aircraft change, the fare difference is refundable to the passenger.</p></li>
                    <li><p class="mb-5"><b>Optional Service Fees</b>: Passengers are entitled to a refund of fees paid for optional services (e.g., baggage fees, seat upgrades, in-flight Wi-Fi) if unable to access these services due to flight cancellation, delay, schedule change, or involuntary denial of boarding.</p></li>
                </ul>
                <p class="mb-5">Note: If you have purchased an additional service that is not available or operational on a flight, you must notify the airline to claim a refund. </p>
                <ul>
                    <li><p class="mb-5"><b>Baggage Fees: </b> Passengers are entitled to a refund of baggage fees if charged for baggage declared missing by the airline. Airlines have different protocols for determining when a bag is officially considered missing.</p></li>
                    <li><p class="mb-5"><b>Fully Refundable Ticket: </b> Passengers who purchase fully refundable tickets are entitled to a refund when they do not use the purchased ticket to complete their travel.</p></li>
                    <li><p class="mb-5"><b>Cancellation of Ticket Booking or Purchase within 24 Hours of Reservation: </b> Airline tickets booked at least seven days before the scheduled departure date and time must either:</p></li>
                </ul>
                <p class="mb-5">Enable passengers to cancel their booking and obtain a full refund within 24 hours without penalty. </p>
                <p class="mb-5">Allow passengers to hold a ticket at the quoted price without payment for up to 24 hours. </p>
                <p class="mb-5">Airlines are not required to offer both options. Check the airline's policy before purchasing a ticket. If the airline allows a free reservation, it must authorize the cancellation of the reservation within 24 hours without penalty. If payment is required for a booking, the airline must authorize cancellation of payment and reservation within 24 hours to request a full refund. </p>
                <p class="mb-5">While airlines must hold a reservation for 24 hours or provide a refund upon request within 24 hours of booking, changes to the ticket are not allowed free of charge. If you voluntarily change your reservation, the airline-specific change rules apply, and our modification fees will apply. If you involuntarily change your reservation, no change fee will apply to reissue tickets, but a modification fee of $50 will be charged for the same. Changes refer to date and time changes, flight changes, and schedule changes. Name changes are not permitted in reservations. </p>


            </div>

        </div>
    </div>
</div>

