
@{
    ViewBag.Title = "termsconditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid title-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2><em>Terms and Conditions</em></h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>/</li>
                        <li class="active">Terms and Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="whyus abotut">
    <div class="container">
        <br>
        <div class="row wus">
            <div class="col-lg-12 col-md-12">

                <h1>Terms & Conditions</h1>
                <p class="mb-5">By accessing and using Planeflybooking.com (the Site), you agree to be bound by the following Terms of Use. These terms govern all services offered through the Site, whether you use it to request travel prices, call our toll-free number, sign up for travel deals via email, or any other method provided by us. If you do not agree with these Terms of Use, please refrain from using or accessing the Site. </p>
                <p class="mb-5">Planeflybooking.com Inc. owns and operates this site primarily for residents of the USA & Australia. We strive to make this site user-friendly, informative, and secure for all users. </p>
                <p class="mb-5">Please carefully read these Terms and Conditions before using or obtaining any content, products, or services through the Planeflybooking.com website. Your access and use of this website are subject to acceptance of these terms, including our privacy policy. If you do not agree to these terms, please do not use this website. </p>
                <ul>
                    <li><b>User Data; Consent to Contact </b>During your use of the Site, you may provide us with information or materials (User Data), such as when submitting requests for price quotes. Your provision of User Data constitutes acceptance of our Privacy Policy, which governs our collection and use of such data. You are responsible for the accuracy and content of the User Data you provide. We may delete or refuse to post any User Data that we deem unlawful, unacceptable, or in violation of these Terms of Use. By providing your contact information through the Site, you consent to receiving communications from us directly, through our website, or via third parties. These communications may include newsletters, promotional emails, or automated telephone calls.</li>
                    <li><b>Exclusive Ownership of Rights</b> The Site and its associated software contain proprietary and confidential information protected by intellectual property laws. You acknowledge that all information and materials on the Site are protected by copyrights, trademarks, patents, or other proprietary rights and laws. Unless expressly permitted by us, you agree not to modify, sell, distribute, transmit, or create derivative works based on the Site or its contents. Commercial use of the Site is strictly prohibited without our authorization. We grant you a personal, non-transferable, and non-exclusive license to use the Site for personal purposes, provided you do not violate these Terms of Use.</li>
                    <li><b>Content Standards</b> User Contributions must comply with all applicable laws and regulations. They must not contain defamatory, obscene, abusive, offensive, or unlawful material. User Contributions must not infringe on the intellectual property or other rights of any third party, promote illegal activities, or deceive others.</li>
                    <li><b>Limitation of Liability</b> We limit our liability for damages of any kind, including direct, indirect, special, or consequential damages arising from your use of the Site. If any warranties implied by law cannot be excluded, our liability is limited to the extent permitted by law.</li>
                    <li><b>Links from our Site</b> Planeflybooking.com provides links to other sites for informational purposes only and accepts advertising from third parties. We do not endorse the content or accuracy of information on linked sites and are not responsible for any damages or losses resulting from your use of such sites.</li>
                    <li><b>Updates</b> These Terms of Use may be updated from time to time, and any changes will be effective upon posting to the Site. Continued use of the Site after modifications signifies your acceptance of the updated terms.</li>
                    <li><b>Applicable Laws</b> The Site and these Terms of Use are governed by the laws of the State of California. Any disputes arising from the use of this Site shall be resolved in the state or federal courts of California. Users accessing the Site from other jurisdictions are responsible for compliance with local laws.</li>
                </ul>

            </div>

        </div>
    </div>
</div>


